@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-img {
    background-image: url("../../public/picture/image.png");
}
.promo-child-1 {
    background-image: url("../../public/picture/image copy 3.png");
}
.promo-child-2 {
    background-image: url("../../public/picture/image copy 4.png");
}
.about-img{
    background-image: url("../../public/picture/ab-4.png");
}
.myDiscountChit{
    transform: rotate(-90deg) translate(0, -69px);
    transform-origin: 100% 0;
}